// pixels to rems
@function pxToRem($px) {
  @return $px / $baseFontSize * 1rem;
}

// base parameters
$fontFamily: "SimHei","黑体";
$baseFontSize: 124.2px;
$baseLineHeight: 1.25;
$backgroundBody: #000;
$backgroundOverlay: rgba(33, 32, 32, 0.7);
$backgroundSection: #2d2d2f;
$colorDefault: #c7cacc;
$colorTitle: #fff;
$colorSubTitle: #5b5b5b;
$colorText: #999;
$colorAttr: #bcbbbb;
$colorName: #178cdb;
$colorTime: $colorName;
$colorNumber: #00e3ff;
$colorLevel: #01fd2e;
$colorHeading: #808082;
$colorWarning: #f90000;
$colorDanger: #f90000;
$buttonColor: #808082;
$buttonBorderFrom: #616060;
$buttonBorderTo: #000;
$buttonBackground: #313131;
$buttonBackgroundFrom: #353639;
$buttonBackgroundTo: #1c1d1f;
$buttonActive: #00e1fc;
$buttonActiveBorderFrom: darken($buttonBorderFrom, 6.18%);
$buttonActiveBorderTo: darken($buttonBorderTo, 6.18%);
$buttonActiveBackgroundFrom: darken($buttonBackgroundFrom, 6.18%);
$buttonActiveBackgroundTo: darken($buttonBackgroundTo, 6.18%);
$divider: #5b5b5b;
$dividerDashed: #8e8989;
$dividerComment: #999;
$navBackgroundFrom: #090909;
$navBackgroundTo: #131313;
$navColor: #69696b;
$navActive: #00e1fc;
$navDivider: #075574;
$navTop: pxToRem(95px);
$navBottom: pxToRem(168px);

// mixin
@mixin border-radius($size: 10px) {
  -webkit-border-radius: pxToRem($size);
  -moz-border-radius: pxToRem($size);
  border-radius: pxToRem($size);
}


html {
  font-size: 10vw;
  line-height: $baseLineHeight;
}
body {
  width: 10rem;
  background: $backgroundBody;
  font-size: pxToRem(36px);
  font-family: $fontFamily;
  color: $colorDefault;
}
p {
  margin: pxToRem(12px) 0;
}


//layout
#container {
  padding: 0 pxToRem(48px);
  &.has-top {
    padding-top: $navTop;
  }
  &.has-bottom {
    padding-bottom: $navBottom;
  }
}
.section {
  margin: pxToRem(40px) 0;
  background: $backgroundSection;
  @include border-radius;
}
.section:first-child {
  margin-top: pxToRem(20px);
}
.section-comment {
  position: relative;
  margin-top: pxToRem(72px) !important;
  padding: pxToRem(10px);
  > .section-title {
    position: absolute;
    left: pxToRem(66px);
    top: pxToRem(-45px);
    margin: 0;
    width: pxToRem(267px);
    height: pxToRem(84px);
    border: pxToRem(3px) solid $divider;
    border-radius: pxToRem(12px);
    background: none $buttonBackground;
    font-size: pxToRem(42px);
    color: $colorTitle;
    text-align: center;
    font-weight: normal;
    line-height: pxToRem(84px);
  }
  > .section-subtitle {
    padding: 0 pxToRem(20px);
    background: $backgroundBody;
    font-size: pxToRem(36px);
    color: $colorHeading;
    text-align: right;
    line-height: 2;
  }
  > .section-body {
    background: $backgroundBody;
    min-height: pxToRem(306px);
  }
  .box-heading {
    color: $colorHeading;
  }
  .list-unstyle {
    padding: 0 pxToRem(57px) pxToRem(40px) pxToRem(48px);
    > li {
      padding: pxToRem(40px) 0;
      border-bottom: 1px solid $divider;
    }
  }
}
.section-list {
  position: relative;
  .section-title {
    position: absolute;
    top: pxToRem(-51px);
    left: 0;
    right: 0;
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: pxToRem(860px);
    > li {
      flex: 1;
      border-style: solid;
      border-width: pxToRem(3px) 0 pxToRem(3px) 0;
      border-color: $divider;
      background: $buttonBackground;
      text-align: center;
      font-size: pxToRem(54px);
      line-height: pxToRem(96px);
      > a {
        color: $colorTitle;
        text-decoration: none;
      }
      &:first-child {
        border-left-width: pxToRem(3px);
        border-top-left-radius: pxToRem(12px);
        border-bottom-left-radius: pxToRem(12px);
      }
      &:last-child {
        border-right-width: pxToRem(3px);
        border-top-right-radius: pxToRem(12px);
        border-bottom-right-radius: pxToRem(12px);
      }
      &.active {
        border-color: #35b9fc;
        background: $colorName;
      }
    }
  }
  .section-body {
    height: pxToRem(117px);
    background: $backgroundBody;
    border: pxToRem(10px) solid $backgroundSection;
    border-top-left-radius: pxToRem(9px);
    border-top-right-radius: pxToRem(9px);
  }
  .list-unstyle {
    padding: pxToRem(10px) 0;
    &.has-title {
      margin-top: pxToRem(84px);
      &:before {
        content: ' ';
        display: block;
        height: pxToRem(117px);
        margin: 0 pxToRem(10px);
        background: $backgroundBody;
        border-top-left-radius: pxToRem(9px);
        border-top-right-radius: pxToRem(9px);
      }
    }
    > li:after {
      content: ' ';
      display: block;
      height: pxToRem(60px);
      margin: 0 pxToRem(10px);
      background: $backgroundBody;
    }
  }
}


//text
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-large {
  font-size: 110%;
}
.text-muted {
  color: $colorText;
}
.text-attr {
  color: $colorAttr;
}
.text-level {
  color: $colorLevel;
}
.text-number {
  color: $colorNumber;
}
.text-time {
  color: $colorTime;
}
.text-title {
  color: $colorTitle;
}
.text-danger {
  color: $colorDanger;
}
.text-subtitle {
  color: $colorSubTitle;
}
.text-name {
  color: $colorName;
}
.font {
  font-size: pxToRem(36px);
  &-small {
    font-size: pxToRem(30px);
  }
  &-large {
    font-size: pxToRem(42px);
  }
  &-jumbo {
    font-size: pxToRem(48px);
  }
  &-giant {
    font-size: pxToRem(64px);
  }
}
.space {
  margin: pxToRem(12px) 0;
}
.space-2 {
  margin: pxToRem(24px) 0;
}
.space-3 {
  margin: pxToRem(36px) 0;
}


.btn {
  display: inline-block;
  padding: 0 pxToRem(9px);
  margin-bottom: 0;
  border: pxToRem(3px) solid #555555;
  @include border-radius(6px);
  font-size: pxToRem(42px);
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none $buttonBackground;
  color: $colorDefault;
  font-style: normal;
  text-decoration: none;
  outline: none;
  &:active,
  &:focus {
    outline: none;
  }
}
.btn-enlarged {
  line-height: 1.35;
}
.btn-3d {
  padding: pxToRem(6px);
  font-size: pxToRem(40px);
  line-height: 1.275;
  border: 0;
  @include border-radius(9px);
  background: ($buttonBorderFrom + $buttonBorderTo);
  background: -moz-linear-gradient($buttonBorderFrom, $buttonBorderTo);
  background: -ms-linear-gradient($buttonBorderFrom, $buttonBorderTo);
  background: -o-linear-gradient($buttonBorderFrom, $buttonBorderTo);
  background: -webkit-gradient(linear, 0 0, 0 100%, from($buttonBorderFrom), to($buttonBorderTo));
  background: -webkit-linear-gradient($buttonBorderFrom, $buttonBorderTo);
  background: linear-gradient($buttonBorderFrom, $buttonBorderTo);
  > span {
    display: inline-block;
    @include border-radius(6px);
    background: ($buttonBackgroundFrom + $buttonBackgroundTo);
    background: -moz-linear-gradient($buttonBackgroundFrom, $buttonBackgroundTo);
    background: -ms-linear-gradient($buttonBackgroundFrom, $buttonBackgroundTo);
    background: -o-linear-gradient($buttonBackgroundFrom, $buttonBackgroundTo);
    background: -webkit-gradient(linear, 0 0, 0 100%, from($buttonBackgroundFrom), to($buttonBackgroundTo));
    background: -webkit-linear-gradient($buttonBackgroundFrom, $buttonBackgroundTo);
    background: linear-gradient($buttonBackgroundFrom, $buttonBackgroundTo);
    color: $buttonColor;
  }
  &:active {
    background: ($buttonActiveBorderFrom + $buttonBorderTo);
    background: -moz-linear-gradient($buttonActiveBorderFrom, $buttonActiveBorderTo);
    background: -ms-linear-gradient($buttonActiveBorderFrom, $buttonActiveBorderTo);
    background: -o-linear-gradient($buttonActiveBorderFrom, $buttonActiveBorderTo);
    background: -webkit-gradient(linear, 0 0, 0 100%, from($buttonActiveBorderFrom), to($buttonActiveBorderTo));
    background: -webkit-linear-gradient($buttonActiveBorderFrom, $buttonActiveBorderTo);
    background: linear-gradient($buttonActiveBorderFrom, $buttonActiveBorderTo);
    > span {
      background: ($buttonActiveBackgroundFrom + $buttonActiveBackgroundTo);
      background: -moz-linear-gradient($buttonActiveBackgroundFrom, $buttonActiveBackgroundTo);
      background: -ms-linear-gradient($buttonActiveBackgroundFrom, $buttonActiveBackgroundTo);
      background: -o-linear-gradient($buttonActiveBackgroundFrom, $buttonActiveBackgroundTo);
      background: -webkit-gradient(linear, 0 0, 0 100%, from($buttonActiveBackgroundFrom), to($buttonActiveBackgroundTo));
      background: -webkit-linear-gradient($buttonActiveBackgroundFrom, $buttonActiveBackgroundTo);
      background: linear-gradient($buttonActiveBackgroundFrom, $buttonActiveBackgroundTo);
    }
  }
}
.btn-2f {
  min-width: 2.4em;
  > span {
    min-width: 2.4em;
  }
}
.btn-4 {
  min-width: 4em;
  > span {
    min-width: 4em;
  }
}
.btn-square {
  > span {
    width: 1.25em;
    font-size: pxToRem(48px);
  }
}
.btn-circle {
  border-radius: 50%;
  > span {
    width: 1.25em;
    border-radius: 50%;
  }
}
.btn-large {
  padding: pxToRem(7px) pxToRem(8px);
  line-height: 1.75;
  @include border-radius(12px);
  > span {
    @include border-radius(9px);
  }
}
.btn-giant {
  padding: pxToRem(18px);
  font-size: pxToRem(58px);
  line-height: pxToRem(146px);
  > span {
    height: pxToRem(146px);
  }
  &.btn-circle {
    > span {
      width: pxToRem(146px);
    }
  }
}
.btn.active {
  color: $buttonActive;
  > span {
    color: $buttonActive;
  }
}
.btn-shadow {
  text-shadow: 0 0 pxToRem(20px) rgba(81, 212, 228, .54);
}
.btn-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


//progress
.progress {
  width: 100%;
  height: pxToRem(24px);
  background-image: -webkit-linear-gradient(120deg, rgba(255,255,255,.1) 38%,rgba(0,0,0,.9) 39%,rgba(0,0,0,.9) 61%,rgba(255,255,255,.1) 62%);
  background-image:      -o-linear-gradient(120deg, rgba(255,255,255,.1) 38%,rgba(0,0,0,.9) 39%,rgba(0,0,0,.9) 61%,rgba(255,255,255,.1) 62%);
  background-image:         linear-gradient(120deg, rgba(255,255,255,.1) 38%,rgba(0,0,0,.9) 39%,rgba(0,0,0,.9) 61%,rgba(255,255,255,.1) 62%);
  -webkit-background-size: pxToRem(25px) pxToRem(24px);
  background-size: pxToRem(25px) pxToRem(24px);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  @include border-radius(6px);
  > .progress-bar {
    height: pxToRem(24px);
    background-image: -webkit-linear-gradient(120deg, rgba(31,126,150,.9) 38%,rgba(24,103,135,.8) 39%,rgba(24,103,135,.8) 61%,rgba(31,126,150,.9) 62%);
    background-image:      -o-linear-gradient(120deg, rgba(31,126,150,.9) 38%,rgba(24,103,135,.8) 39%,rgba(24,103,135,.8) 61%,rgba(31,126,150,.9) 62%);
    background-image:         linear-gradient(120deg, rgba(31,126,150,.9) 38%,rgba(24,103,135,.8) 39%,rgba(24,103,135,.8) 61%,rgba(31,126,150,.9) 62%);
    -webkit-background-size: pxToRem(25px) pxToRem(24px);
    background-size: pxToRem(25px) pxToRem(24px);
    @include border-radius(6px);
  }
}
.progress-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: pxToRem(212px);
  height: pxToRem(212px);
  margin: pxToRem(8px) auto;
  position: relative;
  border: pxToRem(1px) solid #000;
  border-radius: 50%;
  background: #161616;
  .progress-bar {
    position: absolute;
    top:0;
    width: pxToRem(184px);
    height: pxToRem(184px);
    border: pxToRem(14px) solid #34343C;
    border-radius: 50%;
    -webkit-transform: rotate(45deg);
  }
  &-left,
  &-right {
    width: pxToRem(106px);
    height: pxToRem(212px);
    position: absolute;
    top:0;
    overflow: hidden;
  }
  &-left {
    left:0;
    .progress-bar {
      border-bottom: pxToRem(14px) solid #00E3FF;
      border-left: pxToRem(14px) solid #00E3FF;
      left:0;
    }
  }
  &-right {
    right:0;
    .progress-bar {
      border-top: pxToRem(14px) solid #00E3FF;
      border-right: pxToRem(14px) solid #00E3FF;
      right:0;
    }
  }
  .progress-text {
    color: $colorLevel;
    text-align: center;
    font-size: pxToRem(30px);
    > .text-level {
      font-size: pxToRem(66px);
    }
  }
}

//list
.list {
  margin: 0;
}
.list-unstyle {
  padding-left: 0;
  list-style: none;
}
.list-justified {
  padding-left: 0;
  list-style: none;
  display: flex;
  > li {
    flex: 1;
  }
}


//box
.box {
  display: flex;
  &-sidebar {
    font-size: pxToRem(30px);
  }
  &-main {
    flex: 1;
  }
  &-heading {
    margin: 0;
    font-size: pxToRem(58px);
    font-weight: normal;
    line-height: 1.6;
  }
}
.box-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .box-heading {
    font-size: pxToRem(42px);
  }
}
.box-user {
  padding: pxToRem(20px) 0 pxToRem(30px) 0;
  > .box-sidebar {
    padding: 0 pxToRem(20px);
    width: pxToRem(278px);
    > .list-justified {
      line-height: 1.4;
      text-align: center;
    }
  }
  > .box-main {
    padding-right: pxToRem(35px);
  }
  .text-level {
    font-size: pxToRem(52px);
  }
}
.box-coins {
  padding: pxToRem(24px) pxToRem(30px);
  > .box-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: pxToRem(12px) 0;
    .text-number {
      font-size: pxToRem(84px);
    }
  }
  > .box-main {
    margin-left: pxToRem(20px);
    padding: 0 24px 0 30px;
    width: pxToRem(718px);
    background: $backgroundBody;
    @include border-radius(8px);
    font-size: pxToRem(42px);
    .list-unstyle {
      color: $colorName;
      > li {
        .text-date {
          font-size: pxToRem(30px);
        }
      }
      > li + li {
        border-top: 1px dashed $dividerDashed;
      }
    }
    .btn-enlarged {
      vertical-align: bottom;
    }
  }
}
.box-data {
  justify-content: space-around;
  padding: pxToRem(24px);
  > .box-sidebar {
    width: pxToRem(320px);
    height: pxToRem(264px);
    background: $backgroundBody;
    @include border-radius(8px);
    font-size: pxToRem(52px);
    line-height: 1.15;
  }
  .text-number {
    font-size: pxToRem(104px);
  }
}
.box-comment {
  > .box-sidebar {
    margin-right: pxToRem(24px);
    width: pxToRem(158px);
    text-align: center;
    line-height: 1.5;
    .text-number {
      font-size: pxToRem(36px);
    }
  }
  > .box-main {
    font-size: pxToRem(36px);
    .text-subtitle {
      margin: pxToRem(12px) 0 pxToRem(18px) 0;
    }
    .fa {
      font-size: pxToRem(42px);
      color: $divider;
      line-height: 1.6;
    }
  }
  .box-heading {
    font-size: pxToRem(42px);
    color: $colorName;
  }
  .progress-circle {
    margin: 0 auto;
    width: pxToRem(132px);
    height: pxToRem(132px);
    .progress-bar {
      width: pxToRem(120px);
      height: pxToRem(120px);
      border: pxToRem(6px) solid #34343C;
    }
    .progress-circle-left,
    .progress-circle-right {
      width: pxToRem(66px);
      height: pxToRem(132px);
      position: absolute;
      top:0;
      overflow: hidden;
    }
    .progress-circle-left .progress-bar {
      border-bottom: pxToRem(6px) solid #00E3FF;
      border-left: pxToRem(6px) solid #00E3FF;
    }
    .progress-circle-right .progress-bar {
      border-top: pxToRem(6px) solid #00E3FF;
      border-right: pxToRem(6px) solid #00E3FF;
    }
    img {
      width: 132px;
      height: 132px;
      border-radius: 50%;
      object-fit: cover;
      -o-object-fit: cover;
    }
  }
}

//edges
.edges {
  display: flex;
  justify-content: space-between;
  &-center {
    flex: 1;
  }
  &-edge {
    display: flex;
    flex-direction: column;
    .btn + .btn {
      margin-top: pxToRem(20px);
    }
  }
  &-column {
    flex-direction: column;
  }
}


//level
.level {
  display: block;
  width: pxToRem(48px);
  height: pxToRem(48px);
  &-1 {
    background: url("../images/level-1.png") no-repeat;
    background-size: cover;
  }
  &-2 {
    background: url("../images/level-2.png") no-repeat;
    background-size: cover;
  }
  &-3 {
    background: url("../images/level-3.png") no-repeat;
    background-size: cover;
  }
  &-grade {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: pxToRem(24px);
    > .level + .level {
      margin-left: pxToRem(20px);
    }
  }
}
.level-small {
  margin: pxToRem(12px) 0;
  > .level {
    width: pxToRem(30px);
    height: pxToRem(30px);
  }
  > .level + .level {
    margin-left: pxToRem(2px);
  }
}
.level-progress {
  font-size: pxToRem(27px);
  color: $colorText;
  > .level-count {
    text-align: right;
    font-size: 110%;
  }
  > .level-bar {
    display: flex;
    align-items: center;
    > .progress {
      margin: 0 pxToRem(6px);
      width: pxToRem(700px);
      height: pxToRem(16px);
      -webkit-background-size: pxToRem(17px) pxToRem(16px);
      background-size: pxToRem(17px) pxToRem(16px);
      @include border-radius(4px);
      > .progress-bar {
        height: pxToRem(16px);
        -webkit-background-size: pxToRem(17px) pxToRem(16px);
        background-size: pxToRem(17px) pxToRem(16px);
        @include border-radius(4px);
      }
    }
    > .level-text {
      flex: 1;
    }
  }
}


//nav
.nav {
  position: fixed;
  left: 0;
  right: 0;
  > ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
  }
}
.nav-top {
  top: 0;
  padding: 0 pxToRem(50px);
  > ul {
    justify-content: space-between;
    align-items: center;
    height: $navTop;
    > li {
      min-width: pxToRem(180px);
    }
  }
  .nav-title {
    flex: 1;
    overflow: hidden;
    color: $colorHeading;
    font-size: pxToRem(52px);
    text-align: center;
  }
}
.nav-bottom {
  bottom: 0;
  background: ($navBackgroundFrom + $navBackgroundTo);
  background: -moz-linear-gradient($navBackgroundFrom, $navBackgroundTo);
  background: -ms-linear-gradient($navBackgroundFrom, $navBackgroundTo);
  background: -o-linear-gradient($navBackgroundFrom, $navBackgroundTo);
  background: -webkit-gradient(linear, 0 0, 0 100%, from($navBackgroundFrom), to($navBackgroundTo));
  background: -webkit-linear-gradient($navBackgroundFrom, $navBackgroundTo);
  background: linear-gradient($navBackgroundFrom, $navBackgroundTo);
  > ul {
    height: $navBottom;
    > li {
      flex: 1;
      position: relative;
    }
    > li:before {
      content: ' ';
      display: block;
      position: absolute;
      left: -1px;
      top: 0;
      width: 2px;
      height: 100%;
      background: -webkit-linear-gradient($navBackgroundFrom, $navDivider 50%, $navBackgroundTo);
    }
    > li:first-child:before {
      content: normal;
    }
    .fa {
      font-size: pxToRem(98px);
    }
    a {
      color: $navColor;
    }
    a.active {
      color: $navActive;
    }
  }
}


//detail
.detail {
  padding: 10px;
  font-size: pxToRem(40px);
  &-header {
    padding: pxToRem(20px) pxToRem(48px) pxToRem(10px) pxToRem(48px);
    border-bottom: 5px solid $divider;
  }
  &-body {
    padding: pxToRem(20px) pxToRem(48px) pxToRem(30px) pxToRem(48px);
    line-height: 1.6;
    > .progress {
      margin: pxToRem(12px) 0 pxToRem(24px) 0;
    }
  }
  &-time {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: pxToRem(202px);
    background-color: $backgroundSection;
    background-image: radial-gradient(#000 30%,transparent 0), radial-gradient(#000 30%,transparent 0);
    background-size: 16px 16px;
    background-position: 0 0,8px 8px;
    > .text-time {
      font-size: pxToRem(96px);
    }
    > .text-number {
      line-height: pxToRem(72px);
    }
    &-column {
      flex-direction: column;
      justify-content: center;
      > .font-66 {
        font-size: pxToRem(66px);
      }
      > .font-52 {
        font-size: pxToRem(52px);
      }
    }
    .btn-large > span {
      min-width: 2rem;
    }
  }
  .text-title {
    margin: 0;
    font-size: pxToRem(48px);
    font-weight: normal;
  }
  .text-subtitle {
    margin: pxToRem(5px) 0;
    font-size: pxToRem(40px);
    font-weight: normal;
  }
}


//modal
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background: $backgroundOverlay;
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
  &-dialog {
    position: relative;
    padding: pxToRem(10px);
    width: pxToRem(956px);
    background-color: $backgroundSection;
    @include border-radius;
  }
  &-close {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
  }
  &-content {
    padding: pxToRem(42px) pxToRem(50px);
    background-color: $backgroundBody;
  }
  &-title {
    margin: 0;
    font-weight: normal;
    font-size: pxToRem(48px);
    color: #b3b3b3;
  }
  &-body {
    margin-top: pxToRem(42px);
    .font-giant {
      font-size: pxToRem(62px);
    }
  }
  &-footer {
    display: flex;
    align-items: center;
    line-height: pxToRem(66px);
    text-align: center;
    .text-danger {
      flex: 1;
      font-size: pxToRem(32px);
    }
  }
  &.in {
    display: flex;
    opacity: 1;
  }
}

