@charset "UTF-8";
html {
  font-size: 10vw;
  line-height: 1.25;
}

body {
  width: 10rem;
  background: #000;
  font-size: 0.28986rem;
  font-family: "SimHei", "黑体";
  color: #c7cacc;
}

p {
  margin: 0.09662rem 0;
}

#container {
  padding: 0 0.38647rem;
}
#container.has-top {
  padding-top: 0.7649rem;
}
#container.has-bottom {
  padding-bottom: 1.35266rem;
}

.section {
  margin: 0.32206rem 0;
  background: #2d2d2f;
  border-radius: 0.08052rem;
}

.section:first-child {
  margin-top: 0.16103rem;
}

.section-comment {
  margin-top: 0.57971rem;
  padding: 0.08052rem;
}
.section-comment > .section-body {
  position: relative;
  background: #000;
  min-height: 2.46377rem;
}
.section-comment > .section-body > .section-title {
  position: absolute;
  left: 0.5314rem;
  top: -0.36232rem;
  margin: 0;
  width: 2.14976rem;
  height: 0.67633rem;
  border: 0.02415rem solid #5b5b5b;
  border-radius: 0.09662rem;
  background: none #313131;
  font-size: 0.33816rem;
  color: #fff;
  text-align: center;
  font-weight: normal;
  line-height: 0.67633rem;
}
.section-comment > .section-body > .section-subtitle {
  padding: 0 0.16103rem;
  font-size: 0.28986rem;
  color: #808082;
  text-align: right;
  line-height: 2;
}
.section-comment .box-heading {
  color: #808082;
}
.section-comment .list-unstyle {
  padding: 0 0.45894rem 0.32206rem 0.38647rem;
}
.section-comment .list-unstyle > li {
  padding: 0.32206rem 0;
  border-bottom: 1px solid #5b5b5b;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-large {
  font-size: 110%;
}

.text-muted {
  color: #999;
}

.text-attr {
  color: #bcbbbb;
}

.text-level {
  color: #01fd2e;
}

.text-number {
  color: #00e3ff;
}

.text-time {
  color: #178cdb;
}

.text-title {
  color: #fff;
}

.text-subtitle {
  color: #5b5b5b;
}

.text-name {
  color: #178cdb;
}

.space {
  margin: 0.09662rem;
}

.space-2 {
  margin: 0.19324rem;
}

.space-3 {
  margin: 0.28986rem;
}

.btn {
  display: inline-block;
  padding: 0 0.07246rem;
  margin-bottom: 0;
  border: 0.02415rem solid #555555;
  border-radius: 0.04831rem;
  min-width: 0.80515rem;
  font-size: 0.33816rem;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none #313131;
  color: #c7cacc;
  font-style: normal;
  text-decoration: none;
}

.btn-enlarged {
  line-height: 1.35;
}

.btn-3d {
  padding: 0.04831rem;
  font-size: 0.32206rem;
  line-height: 1.275;
  border: 0;
  border-radius: 0.07246rem;
  background: #616060;
  background: linear-gradient(#616060, #000);
}
.btn-3d > span {
  display: inline-block;
  min-width: 1.27214rem;
  border-radius: 0.04831rem;
  background: #515358;
  background: linear-gradient(#353639, #1c1d1f);
  color: #808082;
}
.btn-3d:active {
  background: #515050;
  background: linear-gradient(#515050, black);
}
.btn-3d:active > span {
  background: #333537;
  background: linear-gradient(#262729, #0d0e0e);
}

.btn-large {
  padding: 0.05636rem 0.06441rem;
  line-height: 1.75;
  border-radius: 0.09662rem;
}
.btn-large > span {
  min-width: 2rem;
  border-radius: 0.07246rem;
}

.btn.active {
  color: #00e1fc;
}
.btn.active > span {
  color: #00e1fc;
}

.btn-shadow {
  text-shadow: 0 0 0.16103rem rgba(81, 212, 228, 0.54);
}

.progress {
  width: 100%;
  height: 0.19324rem;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.1) 38%, rgba(0, 0, 0, 0.9) 39%, rgba(0, 0, 0, 0.9) 61%, rgba(255, 255, 255, 0.1) 62%);
  background-size: 0.20129rem 0.19324rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0.04831rem;
}
.progress > .progress-bar {
  height: 0.19324rem;
  background-image: linear-gradient(120deg, rgba(31, 126, 150, 0.9) 38%, rgba(24, 103, 135, 0.8) 39%, rgba(24, 103, 135, 0.8) 61%, rgba(31, 126, 150, 0.9) 62%);
  background-size: 0.20129rem 0.19324rem;
  border-radius: 0.04831rem;
}

.progress-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.70692rem;
  height: 1.70692rem;
  margin: 0.06441rem auto;
  position: relative;
  border: 0.00805rem solid #000;
  border-radius: 50%;
  background: #161616;
}
.progress-circle .progress-bar {
  position: absolute;
  top: 0;
  width: 1.48148rem;
  height: 1.48148rem;
  border: 0.11272rem solid #34343C;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
}
.progress-circle-left, .progress-circle-right {
  width: 0.85346rem;
  height: 1.70692rem;
  position: absolute;
  top: 0;
  overflow: hidden;
}
.progress-circle-left {
  left: 0;
}
.progress-circle-left .progress-bar {
  border-bottom: 0.11272rem solid #00E3FF;
  border-left: 0.11272rem solid #00E3FF;
  left: 0;
}
.progress-circle-right {
  right: 0;
}
.progress-circle-right .progress-bar {
  border-top: 0.11272rem solid #00E3FF;
  border-right: 0.11272rem solid #00E3FF;
  right: 0;
}
.progress-circle .progress-text {
  color: #01fd2e;
  text-align: center;
  font-size: 0.24155rem;
}
.progress-circle .progress-text > .text-level {
  font-size: 0.5314rem;
}

.list {
  margin: 0;
}

.list-unstyle {
  padding-left: 0;
  list-style: none;
}

.list-justified {
  padding-left: 0;
  list-style: none;
  display: flex;
}
.list-justified > li {
  flex: 1;
}

.box {
  display: flex;
}
.box-sidebar {
  font-size: 0.24155rem;
}
.box-main {
  flex: 1;
}
.box-heading {
  margin: 0;
  font-size: 0.46699rem;
  font-weight: normal;
  line-height: 1.6;
}

.box-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-center .box-heading {
  font-size: 0.33816rem;
}

.box-user {
  padding: 0.16103rem 0 0.24155rem 0;
}
.box-user > .box-sidebar {
  padding: 0 0.16103rem;
  width: 2.23833rem;
}
.box-user > .box-sidebar > .list-justified {
  line-height: 1.4;
  text-align: center;
}
.box-user > .box-main {
  padding-right: 0.2818rem;
}
.box-user .text-level {
  font-size: 0.41868rem;
}

.box-coins {
  padding: 0.19324rem 0.24155rem;
}
.box-coins > .box-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.09662rem 0;
}
.box-coins > .box-sidebar .text-number {
  font-size: 0.67633rem;
}
.box-coins > .box-main {
  margin-left: 0.16103rem;
  padding: 0 24px 0 30px;
  width: 5.781rem;
  background: #000;
  border-radius: 0.06441rem;
  font-size: 0.33816rem;
}
.box-coins > .box-main .list-unstyle {
  color: #178cdb;
}
.box-coins > .box-main .list-unstyle > li .text-date {
  font-size: 0.24155rem;
}
.box-coins > .box-main .list-unstyle > li + li {
  border-top: 1px dashed #8e8989;
}
.box-coins > .box-main .btn-enlarged {
  vertical-align: bottom;
}

.box-data {
  justify-content: space-around;
  padding: 0.19324rem;
}
.box-data > .box-sidebar {
  width: 2.57649rem;
  height: 2.1256rem;
  background: #000;
  border-radius: 0.06441rem;
  font-size: 0.41868rem;
  line-height: 1.15;
}
.box-data .text-number {
  font-size: 0.83736rem;
}

.box-comment > .box-sidebar {
  margin-right: 0.19324rem;
  width: 1.27214rem;
  text-align: center;
  line-height: 1.6;
}
.box-comment > .box-main {
  font-size: 0.28986rem;
}
.box-comment .box-heading {
  font-size: 0.33816rem;
  color: #178cdb;
}
.box-comment .fa {
  font-size: 0.33816rem;
  color: #5b5b5b;
  line-height: 1.6;
}
.box-comment .text-number {
  line-height: 0.28986rem;
}
.box-comment .progress-circle {
  margin: 0 auto;
  width: 1.0628rem;
  height: 1.0628rem;
}
.box-comment .progress-circle .progress-bar {
  width: 0.96618rem;
  height: 0.96618rem;
  border: 0.04831rem solid #34343C;
}
.box-comment .progress-circle .progress-circle-left,
.box-comment .progress-circle .progress-circle-right {
  width: 0.5314rem;
  height: 1.0628rem;
  position: absolute;
  top: 0;
  overflow: hidden;
}
.box-comment .progress-circle .progress-circle-left .progress-bar {
  border-bottom: 0.04831rem solid #00E3FF;
  border-left: 0.04831rem solid #00E3FF;
}
.box-comment .progress-circle .progress-circle-right .progress-bar {
  border-top: 0.04831rem solid #00E3FF;
  border-right: 0.04831rem solid #00E3FF;
}
.box-comment .progress-circle img {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  object-fit: cover;
  -o-object-fit: cover;
}

.edges {
  display: flex;
  justify-content: space-between;
}
.edges-center {
  flex: 1;
}
.edges-edge {
  display: flex;
  flex-direction: column;
}
.edges-edge .btn + .btn {
  margin-top: 0.16103rem;
}
.edges-column {
  flex-direction: column;
}

.level {
  display: block;
  width: 0.38647rem;
  height: 0.38647rem;
}
.level-1 {
  background: url("../images/level-1.png") no-repeat;
  background-size: cover;
}
.level-2 {
  background: url("../images/level-2.png") no-repeat;
  background-size: cover;
}
.level-3 {
  background: url("../images/level-3.png") no-repeat;
  background-size: cover;
}
.level-grade {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 0.19324rem;
}
.level-grade > .level + .level {
  margin-left: 0.16103rem;
}

.level-small {
  margin: 0.09662rem 0;
}
.level-small > .level {
  width: 0.24155rem;
  height: 0.24155rem;
}
.level-small > .level + .level {
  margin-left: 0.0161rem;
}

.level-progress {
  font-size: 0.21739rem;
  color: #999;
}
.level-progress > .level-count {
  text-align: right;
  font-size: 110%;
}
.level-progress > .level-bar {
  display: flex;
  align-items: center;
}
.level-progress > .level-bar > .progress {
  margin: 0 0.04831rem;
  width: 5.63607rem;
  height: 0.12882rem;
  background-size: 0.13688rem 0.12882rem;
  border-radius: 0.03221rem;
}
.level-progress > .level-bar > .progress > .progress-bar {
  height: 0.12882rem;
  background-size: 0.13688rem 0.12882rem;
  border-radius: 0.03221rem;
}
.level-progress > .level-bar > .level-text {
  flex: 1;
}

.nav {
  position: fixed;
  left: 0;
  right: 0;
}
.nav > ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}

.nav-top {
  top: 0;
  padding: 0 0.40258rem;
}
.nav-top > ul {
  justify-content: space-between;
  align-items: center;
  height: 0.7649rem;
}
.nav-top > ul > li {
  min-width: 1.36876rem;
}
.nav-top .nav-title {
  flex: 1;
  color: #808082;
  font-size: 0.41868rem;
}

.nav-bottom {
  bottom: 0;
  background: #1c1c1c;
  background: linear-gradient(#090909, #131313);
}
.nav-bottom > ul {
  height: 1.35266rem;
}
.nav-bottom > ul > li {
  flex: 1;
  position: relative;
}
.nav-bottom > ul > li:before {
  content: ' ';
  display: block;
  position: absolute;
  left: -1px;
  top: 0;
  width: 2px;
  height: 100%;
  background: -webkit-linear-gradient(#090909, #075574 50%, #131313);
}
.nav-bottom > ul > li:first-child:before {
  content: normal;
}
.nav-bottom > ul .fa {
  font-size: 0.78905rem;
}
.nav-bottom > ul a {
  color: #69696b;
}
.nav-bottom > ul a.active {
  color: #00e1fc;
}

.detail {
  padding: 10px;
  font-size: 0.32206rem;
}
.detail-header {
  padding: 0.16103rem 0.38647rem 0.08052rem 0.38647rem;
  border-bottom: 5px solid #5b5b5b;
}
.detail-body {
  padding: 0.16103rem 0.38647rem 0.24155rem 0.38647rem;
  line-height: 1.6;
}
.detail-body > .progress {
  margin: 0.09662rem 0 0.19324rem 0;
}
.detail-time {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1.62641rem;
  background-color: #2d2d2f;
  background-image: radial-gradient(#000 30%, transparent 0), radial-gradient(#000 30%, transparent 0);
  background-size: 16px 16px;
  background-position: 0 0,8px 8px;
}
.detail-time > .text-time {
  font-size: 0.77295rem;
}
.detail .text-title {
  margin: 0;
  font-size: 0.38647rem;
  font-weight: normal;
}
.detail .text-subtitle {
  margin: 0.04026rem 0;
  font-size: 0.32206rem;
  font-weight: normal;
}
